credentials.json
TrustExpressSite.pem
scraped_Reviews
scraped_Products
Pickled Piles of Links
Processed_Reviews
geckodriver.log
.ipynb_checkpoints
.DS_Store
flaskapp/flaskexample
flaskapp/TrustExpressSite/data/AliExpressSecret.txt
Amazon_Reviews
GoogleNews-vectors-negative300.bin.gz